* {
    margin: 0;
    padding: 0;
}

p, strong {
    color: #1b262c;
}

#header-page {
    width: 100%;
    height: 85px;
    background-color: #e3f6f5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
}

#header-left {
    width: 40%;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
}

#header-left h2 {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 220%;
    color:#272343;
    margin-left: 27%;
}

#header-right {
    width: 50%;
    float: right;
    margin-right: 4%;
    text-align: right;
    margin-top: 2%;
}

a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 120%;
    color: #272343;
    padding-left: 10px;
}

a:hover {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 120%;
    color: #fa697c;
}


#main-page {
    width: 100%;
    height: 450px;
    text-align: center;
}

#container-main {
    width: 80%;
    height: 300px;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1.5%;
}

#container-image {  
    background-image: url("../images/20180505_091912.jpg");
    width: 30%;
    height: 270px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100% 100%;
    float: left;
}

#conatiner-personal-info {
    width: 60%;
    float: right;
    text-align: justify;
    margin-top: 5%;
}

#conatiner-personal-info p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 120%;
}

#container-sentence {
    width: 100%;
    margin-top: 1.5%;
}

#container-sentence p {
    font-family: 'Dancing Script', cursive;
    font-size: 110%;
}

#container-sentence strong {
    font-family: 'Titillium Web', sans-serif;
    font-size: 110%;
}

#cont-footer {
    width: 100%;
    background-color: #1d4d4f;
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

#data-page-author p {
    color: white;
    margin-right: 3%;
    font-size: 120%;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
}